gpm_data/precipitation_points.csv
*.nc
*.pyc
estaciones_seleccionadas.csv
gpm_data/AEMET_1124E_series.csv
gpm_data/AEMET_1152C_series.csv
gpm_data/AEMET_1159_series.csv
gpm_data/AEMET_2374X_series.csv
gpm_data/AEMET_4116I_series.csv
gpm_data/AEMET_4121_series.csv
gpm_data/AEMET_4210Y_series.csv
gpm_data/AEMET_5304Y_series.csv
gpm_data/selected_stations.csv
HYDRA.egg-info/dependency_links.txt
HYDRA.egg-info/PKG-INFO
HYDRA.egg-info/requires.txt
HYDRA.egg-info/SOURCES.txt
HYDRA.egg-info/top_level.txt
Pruebas_datos/station_Grodno.csv
Pruebas_datos/station_Bergen_Hohne.csv
Pruebas_datos/station_Became_Station_146400.csv
Pruebas_datos/series_Grodno.csv
Pruebas_datos/series_Bergen_Hohne.csv
Pruebas_datos/series_Became_Station_146400.csv
Pruebas_datos/serie_Tampere_Siilinkari.csv
Pruebas_datos/serie_Rodez.csv
Pruebas_datos/serie_Montelimar.csv
Pruebas_datos/serie_Montauban.csv
Pruebas_datos/serie_Mont_Aigoual.csv
Pruebas_datos/serie_Moenichkirchen.csv
Pruebas_datos/serie_Millau.csv
Pruebas_datos/serie_Mende.csv
Pruebas_datos/serie_Lysa_Hora.csv
Pruebas_datos/serie_Koundara.csv
Pruebas_datos/serie_Grodno.csv
Pruebas_datos/serie_Fada.csv
Pruebas_datos/serie_Cazaux.csv
Pruebas_datos/serie_Cap_Ferret.csv
Pruebas_datos/selected_stations.csv
